// Geral
// -------------------------
html, body
    margin: 0
    padding: 0

html
    +monospace
    min-height: 100%

    color: $gray
    background:
        color: lightness($gray)

body
    position: relative
    padding: 10px

.switchSlide

    $white: #FFFFFF
    $black: #000000

    display: inline-block
    font-size: 1.1em

    > .widgetSlide

        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center

        position: relative

        width: auto
        overflow: hidden

        font-family: Consolas, 'Liberation Mono', Courier, monospace
        font-size: 1em

        background-color: rgba(51, 51, 51, 0.5)
        box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px
        border-radius: 5px

        user-select: none
        user-drag: none
        touch-select: none
        touch-callout: none

        &:before
            content: "\0020"
            position: absolute
            top: 0
            left: calc(50% - 1px)
            width: 1px
            height: 100%
            overflow: hidden
            background-image: linear-gradient(top, rgba($white, 0) 0%, rgba($white, 0.3) 15%, rgba($white, 0.3) 85%, rgba($white, 0) 100%)

        > label
            + input[type="radio"]
                // display: none
                visibility: hidden
                border: 0
                clip: rect(0 0 0 0)
                height: 1px
                margin: -1px
                overflow: hidden
                padding: 0
                position: absolute
                width: 1px
                &.focusable
                    &:active,
                    &:focus
                        clip: auto
                        height: auto
                        margin: 0
                        overflow: visible
                        position: static
                        width: auto

        > .widgetSlide__opt

            white-space: nowrap
            text-align: center

            position: relative
            z-index: 1
            box-sizing: content-box
            padding: 8px 5px

            color: rgba($gray, 0.7)
            cursor: pointer

        > .widgetSlide__knob
            $margin: 2
            box-sizing: border-box
            position: absolute
            z-index: 2

            display: flex
            flex-flow: row nowrap
            justify-content: center
            align-items: center

            top: 0
            right: auto
            bottom: auto
            left: 0

            width: auto
            height: calc(100% - #{$margin * 2}px)

            margin: #{$margin}px
            background: $white

            opacity: 0

            border: 0
            border-radius: 5px

            color: rgba($gray, 0.7)
            white-space: nowrap

            transform: translate3d(0, 0, 0)
            transition: opacity 0.2s, transform 0.2s, color 0.2s

            &.is-dragging
                transition: color 0.2s
                color: rgba($gray, 0)

        &.has-phase
            &:before
                display: none

            > .widgetSlide__knob
                opacity: 1

        &:focus
            outline: none
            > .widgetSlide__knob
                background: linear-gradient(top, rgb(252,234,187) 0%,rgb(252,205,77) 50%,rgb(248,181,0) 51%,rgb(251,223,147) 100%)

