doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title App
    link(rel='stylesheet', href='css/app.css')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    if (build)
      script(src='js/main.js', async)
    else
      script(src='js/lib/require.js', data-main='js/main', async)
  body

    form#frm(action='index.html', method='GET')
      .switchSlide
        .widgetSlide
          label(for='nao') Não
          input#nao(type='radio', title='Não', name='switchA', value='N')
          label(for='sim') Sim
          input#sim(type='radio', title='Sim', name='switchA', value='S')

      .switchSlide
        .widgetSlide
          label(for='bad') Bad
          input#bad(type='radio', title='Bad', name='switchB', value='bad')
          label(for='good') Good
          input#good(type='radio', title='Good', name='switchB', value='good', checked)

      .hidden
        .switchSlide.bigger
          .widgetSlide
            label(for='small') Small
            input#small(type='radio', title='Small', name='switchC', value='small', checked)
            label(for='big') Big
            input#big(type='radio', title='Big', name='switchC', value='big')

      div
        button(type='submit') OK
        button(type='reset') Reset
